<!DOCTYPE html>
<html lang="en">
<head>
    <title>CRDT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>    
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Numbers</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %} 
                    {% if form.errors %} {% for error in form.errors.items %}
                        <div class="alert alert-danger" role="alert">
                            <label class="control-label">* {{ error.1 }}</label>
                        </div>
                    {% endfor %} {% endif %}                    
                    <div class="coll-xs-12">
                        <div class="well well-sm">
                            {{ form.title.label_tag }}
                            {{ form.title }}</br>
                            <button class="btn btn-default" type="submit" value="Submit">
                                Add
                            </button>
                        </div>
                    </div>
                </form>
                {% if numbers %} {% for number in numbers %}
                </br>
                <div class="well well-sm">
                    <strong>{{ number.title }} <!-- - {{ number.date }}--></strong></br></br>
                    <div class="well well-sm">
                        <strong>
                            <center>
                                {{ number.number }}
                            </center>
                        </strong>
                    </div>                    
                    <a href="{% url 'increment' %}?id={{ number.id }}"
                        <button class="btn btn-default btn-block" type="submit" value="Submit">
                            +
                        </button>
                    </a></br>
                    <a href="{% url 'decrement' %}?id={{ number.id }}"
                        <button class="btn btn-default btn-block" type="submit" value="Submit">
                            -
                        </button>
                    </a></br>
                    <!--<a href="{% url 'delete' %}?id={{ number.id }}"
                        <button class="btn btn-default" type="submit" value="Submit">
                            Delete
                        </button>
                    </a></br>-->
                </div>
                {% endfor %} {% endif %}
            </div> 
        </div>
</body>
</html>
