{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CRDT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<style>
    .nav-pills > li.active > a {
        color:black;
        background-color:#cccccc;
    }
    .nav-pills > li > a:hover {
        color:black;
        background-color:#cccccc;
    }
    .nav-pills > li.active > a:hover {
        color:black;
        background-color:#cccccc;
    }
    .nav-pills > li > a:hover {
        color:black;
        background-color:#cccccc;
    }
    .nav-pills > li > a {
        color:black;
    }
</style>

<body>
    <div class="container">

        <h2>crdt mail service</h2>

        <ul class="nav nav-pills">
            <li class="active"><a href="{% url 'index' %}">Send</a></li>
            {% if other_hosts %} {% for host in other_hosts %}
                <li><a href="{% url 'show_messages' %}?id={{ host.id }}">Host {{ host.id }}</a></li>
            {% endfor %} {% endif %}
            <li><a href="{% url 'show_messages' %}?id={{ running_host }}">Outbox</a></li>
            <li><a href="{% url 'delete_all' %}">Delete All</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>

        <h5>send a message:</h5>

        <div class="tab-content">
            <div id="send" class="tab-pane fade in active">
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %} 
                    {% if form.errors %} {% for error in form.errors.items %}
                        <div class="alert alert-danger" role="alert">
                            <label class="control-label">* {{ error.1 }}</label>
                        </div>
                    {% endfor %} {% endif %}                    
                    <div class="coll-xs-12">
                        {{ form.to }}</br>
                        {{ form.text }}</br>
                        <button class="btn btn-default" type="submit" value="Submit">
                            Send
                        </button>    
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>