{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>CRDT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/min/jquery-min.js' %}"></script>
    <script src="{% static 'js/min/bootstrap-min.js' %}"></script>
</head>

<body>    
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                </br>
                <div class="well well-sm">
                    <div class="panel panel-success">
                        <div class="panel-heading">Counter</div>
                        <div class="panel-body">{{ user.userprofile.counter }}</div>
                    </div>
                    <a href="{% url 'delete_all' %}"
                        <button class="btn btn-default" type="submit" value="Submit">
                            Delete All
                        </button>
                    </a>
                    <a href="{% url 'logout' %}"
                        <button class="btn btn-default" type="submit" value="Submit">
                            Logout
                        </button>
                    </a>                                                  
                </div>
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %} 
                    {% if form.errors %} {% for error in form.errors.items %}
                        <div class="alert alert-danger" role="alert">
                            <label class="control-label">* {{ error.1 }}</label>
                        </div>
                    {% endfor %} {% endif %}                    
                    <div class="coll-xs-12">
                        <div class="well well-sm">
                            {{ form.to }}</br>
                            {{ form.text }}</br>
                            <button class="btn btn-default" type="submit" value="Submit">
                                Send
                            </button>
                        </div>
                    </div>
                </form>
                {% if messages %} {% for message in messages %}
                </br>
                <div class="well well-sm">
                    <strong>ID: {{ message.message_id }}</strong></br>
                    <p>From : {{ message.author }} - {{ message.date }}</p>
                    <div class="well well-sm">
                        {{ message.text }}
                    </div>                    
                    <a href="{% url 'delete' %}?id={{ message.id }}"
                        <button class="btn btn-default" type="submit" value="Submit">
                            Delete
                        </button>
                    </a></br>
                </div>
                {% endfor %} {% endif %}
            </div> 
        </div>
</body>
</html>
