{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>CRDT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/min/jquery-min.js' %}"></script>
    <script src="{% static 'js/min/bootstrap-min.js' %}"></script>
</head>

<body>    
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                </br>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %} 
                    {% if form.errors %} {% for error in form.errors.items %}
                        <div class="alert alert-danger" role="alert">
                            <label class="control-label">* {{ error.1 }}</label>
                        </div>
                    {% endfor %} {% endif %}                    
                    <div class="coll-xs-12">
                        <div class="well well-sm">
                            {{ form.username }}</br>
                            {{ form.password }}</br>
                            <button class="btn btn-default" type="submit" value="Submit">
                                Login
                            </button>
                        </div>
                    </div>
                </form>
            </div> 
        </div>
    </div>
</body>
</html>