{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CRDT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<style>
    .nav-pills > li.active > a {
        color:black;
        background-color:#cccccc;
    }
    .nav-pills > li > a:hover {
        color:black;
        background-color:#cccccc;
    }
    .nav-pills > li.active > a:hover {
        color:black;
        background-color:#cccccc;
    }
    .nav-pills > li > a:hover {
        color:black;
        background-color:#cccccc;
    }
    .nav-pills > li > a {
        color:black;
    }
</style>

<body>
    <div class="container">

        <h2>crdt mail service</h2>

        <ul class="nav nav-pills">
            <li><a href="{% url 'index' %}">Send</a></li>
            {% if other_hosts %} {% for host in other_hosts %}
                {% if host.id == active_host %}
                    <li class="active" ><a href="{% url 'show_messages' %}?id={{ host.id }}">Host {{ host.id }}</a></li>
                {% else %}
                    <li><a href="{% url 'show_messages' %}?id={{ host.id }}">Host {{ host.id }}</a></li>
                {% endif %}
            {% endfor %} {% endif %}
            {% if running_host == active_host %}
                <li class="active"><a href="{% url 'show_messages' %}?id={{ running_host }}">Outbox</a></li>
            {% else %}
                <li><a href="{% url 'show_messages' %}?id={{ running_host }}">Outbox</a></li>
            {% endif %}
            <li><a href="{% url 'delete_all' %}">Delete All</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>

        <h5>messages:</h5>

        <div class="tab-content">
            <div class="tab-pane fade in active">
                {% for message in messages %}
                    <div class="well well-sm">
                    <strong>uuid: {{ message.uuid }}</strong></br>
                    <p>from : {{ message.author }} - {{ message.date }}</p>
                    <div class="well well-sm">
                        {{ message.text }}
                    </div>                    
                    <a href="{% url 'delete' %}?id={{ message.uuid }}"
                        <button class="btn btn-default" type="submit" value="Submit">
                            Delete
                        </button>
                    </a></br>
                </div>
                {% empty %}
                    <div class="well well-sm">
                        Sorry, no messages.
                    </div> 
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>