{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>crdt mail service | Messages </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<style type="text/css">
    .nav-pills > li.active > a {
        color:black;
        background-color:#cccccc;
    }
    .nav-pills > li > a:hover {
        color:black;
        background-color:#cccccc;
    }
    .nav-pills > li.active > a:hover {
        color:black;
        background-color:#cccccc;
    }
    .nav-pills > li > a:hover {
        color:black;
        background-color:#cccccc;
    }
    .nav-pills > li > a {
        color:black;
    }
    .host_color {
        color: {{ host_color }};
    }
    .panel > .panel-heading {
        color: white;
    }
</style>

<body>
    <div class="container">

        <h2 class="host_color">crdt mail service</h2>

        <ul class="nav nav-pills">
            <li><a href="{% url 'index' %}">Send</a></li>
            <li class="active"><a href="{% url 'show_messages' None %}">Messages</a></li>
            <li><a href="{% url 'delete_all' %}">Delete All</a></li>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>

        <div class="row">
            <div class="col-sm-3">
                <h5>folders:</h5>
                <ul class="nav nav-pills nav-stacked">
                    {% if active_folder == None %}
                        <li class="active"><a href="{% url 'show_messages' None %}">Inbox</a></li>
                    {% else %}
                        <li><a href="{% url 'show_messages' None %}">Inbox</a></li>
                    {% endif %}
                    {% if folders %} {% for folder in folders %}
                        {% if folder.uuid == active_folder.uuid %}
                            <li class="active" ><a href="{% url 'show_messages' folder.uuid %}">{{ folder.title }}</a></li>
                        {% else %}
                            <li><a href="{% url 'show_messages' folder.uuid %}">{{ folder.title }}</a></li>
                        {% endif %}
                    {% endfor %} {% endif %}
                </ul>

                <h5>add folder:</h5>

                <div id="send" class="tab-pane fade in active">
                    {% if active_folder == None %}
                    <form action="{% url 'add_folder' None %}" method="post">
                    {% else %}
                    <form action="{% url 'add_folder' active_folder.uuid %}" method="post">
                    {% endif %}
                        {% csrf_token %} 
                        {% if form.errors %} {% for error in form.errors.items %}
                            <div class="alert alert-danger" role="alert">
                                <label class="control-label">* {{ error.1 }}</label>
                            </div>
                        {% endfor %} {% endif %}                    
                        <div class="coll-xs-12">
                            {{ form.title }}</br>
                            <button class="btn btn-default btn-block btn-sm" type="submit" value="add">
                                Add Folder
                            </button>
                        </div>
                    </form>
                </div>

                {% if active_folder != None %}
                <h5>delete selected folder:</h5>

                <div>
                    <form action="{% url 'delete_folder' active_folder.uuid %}">
                        <button class="btn btn-default btn-block btn-sm" type="submit" value="Submit">
                            Delete Folder
                        </button> 
                    </a>
                </div>
                {% endif %}
            </div>


            <div class="col-sm-9">

                
                <h5>messages:</h5>
                

                {% for message in messages %}
                <div class="row">
                    <div class="col-sm-8">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background-color: {{ message.color }}">{{ message.uuid }}</div>
                            <div class="panel-body">
                                <p>from : {{ message.author }}</p>
                                <p>to : {{ message.reader }}</p>
                                <p>date : {{ message.date }}</p>
                                <p>text : {{ message.text }}</p>
                            </div>
                        </div>
                    </div>                    
                    <div class="col-sm-4">
                        {% if folders %}
                        {% if active_folder == None %}
                        <form action="{% url 'change_folder' None message.uuid %}" method="post">
                        {% else %}
                        <form action="{% url 'change_folder' active_folder.uuid message.uuid %}" method="post">
                        {% endif %}
                        {% csrf_token %}
                            {{ change_folder_form.folder_choice }}</br>
                            <button class="btn btn-default btn-block btn-sm" type="submit" value="Submit">
                                Change Folder
                            </button></br>
                        </form>
                        {% endif %}
                        {% if active_folder == None %}
                        <form action="{% url 'delete' None message.uuid %}">
                        {% else %}
                        <form action="{% url 'delete' active_folder.uuid message.uuid %}">
                        {% endif %}
                            <button class="btn btn-default btn-block btn-sm" type="submit" value="Submit">
                                Delete
                            </button> 
                        </a>
                    </div>
                </div></br>
                {% empty %}
                    <div class="row">
                        <div class="col-sm-12">
                            Sorry, no messages.
                        </div>
                    </div> 
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>