{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>crdt mail service | Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/min/jquery-min.js' %}"></script>
    <script src="{% static 'js/min/bootstrap-min.js' %}"></script>
</head>

<body>    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                </br>
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %} 
                    {% if form.errors %} {% for error in form.errors.items %}
                        <div class="alert alert-danger" role="alert">
                            <label class="control-label">* {{ error.1 }}</label>
                        </div>
                    {% endfor %} {% endif %}                  
                    <p><strong>{{ form.username.label }}:</strong></p>
                    {{ form.username }}</br>
                    <p><strong>{{ form.password.label }}:</strong></p>
                    {{ form.password }}</br>
                    <p><strong>{{ form.password_confirm.label }}:</strong></p>
                    {{ form.password_confirm }}</br>
                    <button class="btn btn-default btn-block btn-sm" type="submit" value="Submit">
                        Register
                    </button>
                </form>
                <a href="{% url 'login' %}">
                    </br>
                    <button class="btn btn-default btn-block btn-sm" type="submit" value="Submit">
                        Have a account? Login!
                    </button>
                </a>
            </div>  
        </div>
    </div>
</body>
</html>